<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/css/style.css">
  </head>
  <body>

    <h1>Les informations importantes</h1>
    
    <br/><h3>Je préfère la lecture : </h3>

    <!-- Liens Utiles -->
    
    <a href="https://www.sida-info-service.org" target=\"_blank\" >www.sida-info-service.org</a><br><br>

    <a href="https://www.sexualites-info-sante.fr" target=\"_blank\" >www.sexualites-info-sante.fr</a><br><br>

    <a href="https://www.hepatites-info-service.org" target=\"_blank\" >www.hepatites-info-service.org</a><br><br>

    <a href="https://www.vih-info-soignants.fr" target=\"_blank\" >www.vih-info-soignants.fr</a><br><br>

    <a href="https://www.ligneazur.org" target=\"_blank\" >www.ligneazur.org</a><br><br>

    <a href="https://www.instagram.com/sida_info_service" target=\"_blank\" >www.instagram.com/sida_info_service</a><br><br>

    <a href="https://www.instagram.com/sexualites_info_sante" target=\"_blank\" >www.instagram.com/sexualites_info_sante</a><br><br>

    <a href="https://www.facebook.com/SidaInfoService" target=\"_blank\" >www.facebook.com/SidaInfoService</a><br><br>
    
    <p>
      
    </p>
    
  </body>
</html>
