<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Temoignages tirés des sites d'information</title>
  </head>
  <body>

    
    <h4>
        "Je crois que je suis gay mais j’ai pas la certitude. J’ai aussi eu un crush sur une fille.<br>
        J’ai envie de trouver l’amour et j’ai besoin de quelques conseils."<br>
        
        Jason, 17 ans   <strong>(ligneazur.org)</strong><br>
        <br>
        <br>
        <br>

        "Je ne sais pas comment intervenir quand des élèves du collège en traitent un autre de « sale pédé »?<br>
        Je sais que les insultes racistes sont réprimées par la loi, mais qu’en est-il des injures homophobes ?"<br>
        
        Surveillant   <strong>(ligneazur.org)</strong><br>
        <br>
        <br>
        <br>

        "Dans mon entreprise, il y a une femme qui a récemment divorcé pour vivre avec une autre femme.<br>
        Cela s’est su. Depuis, ça se passe mal avec une collègue. J’aimerais l’aider."<br>
        
        Déléguée du personnel   <strong>(ligneazur.org)</strong><br>
        <br>
        <br>
        <br>

        "Je suis infirmière dans un lycée, et on a un ado qui a fait son coming-out trans. Ses parents le<br>
        soutiennent, mais les profs me posent beaucoup de questions, et moi je n’y connais rien. Comment le soutenir ?<br>
        Est-ce que vous connaissez des ressources ? Est-ce qu’il existe des formations ?"<br>
        
        Infirmière scolaire   <strong>(ligneazur.org)</strong><br>
        <br>
        <br>
        <br>

    </h4>

  </body>
</html>
